
html, body {
	height: 100%;
}

h1 {
	font-size: 48px;
}

.font-size-header {
	font-size: 48px;
}

.dialog-full-width {
	width: 90%;
	max-width: 920px;
}

.slick-list {
	height: auto !important;
	max-height: 450px;
}

.breadcrumb {
	margin-top: 15px;
}

.btn, .clickable {
	cursor: pointer;
}

.hidden {
	display: none;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-10 {
	margin-left: 10px;
}

#title-text {
	padding-right: 20px;
	border-right: 1px solid white;
}

.table-header  div.mdl-textfield {
	position: absolute;
	right: 10px;
	z-index: 9999;
	width: 100%;
}

input {
	color: #3f51b5 !important;
}

.wide {
	width: 100% !important;
}

.plan-card-wide {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#loading-results {
	margin-top: 25px;
	font-size: 72px;
}
