dialog(class="mdl-dialog dialog-full-width")
    h4(class="mdl-dialog__title hidden") Allow data collection?
    div(class="mdl-dialog__content")
        p Allowing us to collect data will let us get you the information you want faster.
    div(class="mdl-dialog__actions")
        button(type="button" class="mdl-button close-gallery") Close
