header(class="mdl-layout__header")
    div(role="button" class="mdl-layout__drawer-button mdl-layout--small-screen-only")
        i(class="font-size-header material-icons") 

    div(class="mdl-layout__header-row")

        span(class="mdl-layout-title")= siteName

        div(class="mdl-layout-spacer")

        nav(class="mdl-navigation mdl-layout--large-screen-only")
            a(class="mdl-navigation__link" href="/") Home #[span(class="sr-only") (current)]
            a(class="mdl-navigation__link" href="/logout") Log out
            a(class="mdl-navigation__link" href="#")
                img(src="https://www.gravatar.com/avatar/" + user.hashedEmail + "?s=40")

div(class="mdl-layout__drawer")
    span(class="mdl-layout-title")= siteName
    nav(class="mdl-navigation")
        a(class="mdl-navigation__link" href="/") Home #[span(class="sr-only") (current)]
        a(class="mdl-navigation__link" href="#")
            | #{user.username()}

